<ion-header>
  <ion-toolbar>
    <ion-title>Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Display total values in rectangles -->
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Total Produits</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ totalProducts }}</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Total Catégories</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ totalCategories }}</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Somme Totale des Produits</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ totalProductSum | currency }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- List of categories -->
  <ion-list>
    <ion-item *ngFor="let category of categories" (click)="onCategoryClick(category)">
      {{ category.name }}
    </ion-item>
  </ion-list>

  <!-- Display products and clients for the selected category -->
  <ion-card *ngIf="selectedCategory">
    <ion-card-header>
      <ion-card-title>Produits et Clients dans la catégorie "{{ selectedCategory.name }}"</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Produits</h3>
      <ion-list>
        <ion-item *ngFor="let produit of selectedProducts">
          {{ produit.name }} - {{ produit.price | currency }} - {{ produit.quantity }}
        </ion-item>
      </ion-list>

      <h3>Clients</h3>
      <ion-list>
        <ion-item *ngFor="let client of selectedClients">
          {{ client.name }} - {{ client.email }} - {{ client.phone }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
